.app-container {
  min-height: 100vh;
  background-color: #fff;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

.main-heading {
  text-align: center;
  color: #f4a261;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.left-panel {
  flex: 1;
  max-width: 300px;
  min-height: 100vh;
  background-color: #131313;
  padding: 25px;
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.right-panel {
  flex: 2;
  background-color: #000000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 25px;
  min-height: 100vh;
}
